body {
  margin: 0;
  font-family: sans-serif;
}

/*-----------HEADER-----------*/
header {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
}
.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.user-info {
  font-size: 18px;
}

.user-info strong {
  font-weight: bold;
}
.header-buttons button {
  background-color: #e74c3c;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.menu-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

#settings-button {
  background-color: #cccccc;
}

#settings-button:hover {
  background-color: #999999;
}

#logout-button:hover {
  background-color: #007bff;
}

/*----------MAIN------------*/

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tarjeta {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 6px #ccc;
  padding: 20px;
  width: 300px;
  margin: 20px;
  text-align: center;
}

.tarjeta h2 {
  margin-top: 0;
}

.tarjeta a {
  display: block;
  margin-top: 20px;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.tarjeta a:hover {
  background-color: #444;
}
