body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* Header */

header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.user-info {
  font-size: 18px;
}

.user-info strong {
  font-weight: bold;
}

.header-buttons button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.menu-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

#settings-button {
  background-color: #ccc;
}

#settings-button:hover {
  background-color: #999;
}

/* Form */

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="number"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

#add_new_turno {
  display: none;
}

#mostrar-formulario {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#mostrar-formulario:hover {
  background-color: #337935;
}

#turnos ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#turnos li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#turnos li:last-child {
  border-bottom: none;
}

#turnos a {
  text-decoration: none;
  color: #333;
}

#turnos a:hover {
  text-decoration: underline;
  color: #666;
}

#turnos {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.turno {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.turno-nombre {
  font-weight: bold;
  margin-right: 10px;
  margin: 0;
    font-size: 1.2em;
}

.turno-dni {
  color: #999;
  font-size: 14px;
  margin-right: 10px;
  margin: 0;
}

.turno-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.turno-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 5px;
}

.turno-info {
  flex-grow: 1;
}

.turno-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.editar-button,
.borrar-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.editar-button:hover {
  background-color: #0158b4;
}

.borrar-button {
  background-color: #dc3545;
}
.borrar-button:hover {
  background-color: #91242f;
}



select,
input[type="date"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
